language: php

php:
  - 7.2
  - 7.3

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

matrix:
  fast_finish: true

before_install:
  - if [ "$TRAVIS_PHP_VERSION" != "7.3" ]; then mv phpspec.no-coverage.yml phpspec.yml; fi

install:
  - travis_retry composer install --ignore-platform-reqs

script:
  - composer test

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - if [ "$TRAVIS_PHP_VERSION" == "7.3" ]; then php ocular.phar code-coverage:upload --format=php-clover coverage.xml; fi
